.home-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.home-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12%;
}

.left-home-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: maroon;
  color: white;
  border-radius: 12px;
}

.right-home-content {
  display: flex;
  flex-direction: column;
  padding: 8% 0%;
  padding-left: 2%;
}

.profile-picture-container {
  width: fit-content;
  border-radius: 12px;
  padding: 22px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.list-type-none {
  list-style-type: none;
  padding: 10px;
}

.home-span-element {
  font-weight: bolder;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.check-resume-btn {
  height: 40px;
  width: 200px;
  border-radius: 12px;
  background-color: maroon;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  border: white 2px solid;
}

.check-resume-link {
  color: white;
  text-decoration: none;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
