.project-container {
  height: 350px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out;
  max-width: 450px;
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
}
.project-main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2% 5%;
}

.project-name-container {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.project-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.project-techstack {
  display: flex;
  gap: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #007bff;
  margin-bottom: 10px;
}
