/* index.css or App.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  height: 100vh;
}

.child-container {
  height: calc(100vh - 60px);
}

.icon-size {
  height: 50px;
  width: 50px;
}
